.divAnimalContainer {
    position: relative;
    height: 55vh;
    width: calc((100vw - var(--gap-InContainer) - 3 * var(--padding-global))/ 3);
    /* border: .15px solid var(--color-white); */
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 var(--color-white);
}
figure {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}
.pAnmlChar {
    font-size: 2rem;
}
.pAnmlYear {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.divTopSection {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-InContainer);
    border-radius: inherit
}

ul {
    position: absolute;
    bottom: 0;
    background: var(--color-blue);
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    list-style-position: inside;
    border-radius: inherit
}

ul li {
    background: var(--color-blue);
    font-size: 1.5rem;
}